@import url('../_base.css');

div {
  padding: 4px;
}

form {
  margin-bottom: 2rem;
}

select {
  padding: 2px;
}

label {
  display: block;
  width: 100%;
  margin: 8px 0;
}

label span {
  font-size: smaller;
  color: pink;
}

input:not([type='checkbox']) {
  margin-bottom: 1em;
  padding: 0.5rem;
  min-width: 400px;
  margin: 0.5rem 0;
  font-size: inherit;
}

input.error,
select.error {
  outline: none;
  border: 2px solid red;
  background-color: pink;
}

input.error:valid,
select.error:valid {
  border-style: auto;
  border-color: inherit;
  background-color: white;
}

/* input:valid {
  background-color: lightgreen;
}

input:invalid {
  background-color: pink;
} */

[type='checkbox'] {
  margin-bottom: 0;
  margin-right: 0.25em;
}

button {
  font-size: inherit;
  padding: 0.5rem 1rem;
}

button:disabled {
  cursor: not-allowed;
}

input[type='checkbox'] {
  padding: 1rem;
}

input[type='checkbox']:disabled {
  cursor: not-allowed;
}
