@import url('../_base.css');

label {
  display: block;
  width: 100%;
}

input:not([type='checkbox']) {
  margin-bottom: 1em;
  padding: 0.5rem;
  min-width: 400px;
  margin: 0.5rem 0;
  font-size: inherit;
}

input:valid {
  background-color: lightgreen;
}

input:invalid {
  background-color: pink;
}

[type='checkbox'] {
  margin-bottom: 0;
  margin-right: 0.25em;
}

button {
  font-size: inherit;
  padding: 0.5rem 1rem;
}

button:disabled {
  cursor: not-allowed;
}

input[type='checkbox'] {
  padding: 1rem;
}

input[type='checkbox']:disabled {
  cursor: not-allowed;
}
